<h1 class="text-center m-5">INGRESE PRODUCTO</h1>
<div style="width: 100%; max-width: 700px; margin:5rem auto;">
    <form action="/productos" method="post">
        <input class="form-control mb-3" name="nombre" type="text" placeholder="Nombre">
        <input class="form-control mb-3" name="precio" type="number" placeholder="Precio">
        <input class="form-control mb-4" name="imagen" type="text" placeholder="Foto URL">
        <button type="submit" class="btn btn-primary w-100">GUARDAR</button>
    </form>
    <a href="/productos"><button class="btn btn-outline-secondary w-100 mt-3">VER PRODUCTOS</button></a>
</div>